/* Configuration for main page. */

a.button:hover, a.button:focus {
        text-decoration: none;
}
#projects a.button:hover, #projects a.button:focus {
    color: #fff;
}
/* #about .download             { display: none; } */
#about #personal-description { display: none; }
.fa-facebook-logo:before      { content: "\f09a"; }
.fa-linkedin-logo:before      { content: "\f0e1"; }
